.flex-container {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-evenly;
}

.header-links{
    flex-grow:1;
}

.grid-container{
    display:grid;
    grid-template-columns:auto auto auto auto;
    justify-content:center;
    column-gap:15vh;
}

.grid-container2{
    display:grid;
    grid-template-columns:auto;
    justify-content:center;
    column-gap:5vh;
}

.grid-image{
    height:20vh;
}

.button{
    background-color: #1e82d4; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    font-size:24px;
    font-weight: bold;
}